PORT=3001
NODE_ENV=development

JWT_SECRET=
JWT_EXPIRES_IN=8h

FRONTEND_URL=http://localhost:5173

SEED_ADMIN_PASSWORD=
SEED_PSYCHOLOGIST_PASSWORD=
SEED_NUTRITIONIST_PASSWORD=
SEED_PEDAGOGUE_PASSWORD=